.Search {
    padding-top: 5px;
    padding-left: 0;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
}

form {
    margin: 0;
    padding: 0;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.6rem;
    margin: 0 0 1.0666666667rem;
    padding: 0.5333333333rem;
    border: 1px solid #cacaca;
    border-radius: 15px;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgb(10 10 10 / 10%);
    font-family: "Open Sans", sans-serif;
    font-size: 1.0666666667rem;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    appearance: none;
    overflow: visible;
        z-index: 100;
    margin-right: -13px;
    /* width: 130px;   */
}

button {
    border-radius: 0 2rem 2rem 0;
    display: inline-block;
    /* width: 50%; */
    width: 100px;
    height: 41px;
    border-bottom: none;
    background-color: #3C948B;
    color: #fff;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.9rem;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.9em 1em;
    border: 1px solid transparent;
    /* z-index: 100;
    margin-right: -13px;
    width: 130px; */
    width: 130px;
}

.controls-wrapper {
    margin-right: 0;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap; */
}

.search-controls {
    display: flex;
    width: 70%;
}

.button .fa {
    margin-right: 5px;
}

.fa, .fas {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
}

.fa-lg {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: -.0667em;
}

/* .fa-search:before {
    content: "\f002";
} */

 

button::before {
    
    content:"";
    display: block;
    background-image: url("../../../../img/search.png");
    width: 30px;
    height: 30px;
    background:black
}